.commentWrapper {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.userInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 9999px;
}

.mainWrapper {
  width: 100%;
}

.mainWrapper a {
  display: flex;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  margin-left: 10px;
}

.userWrapper {
  display: flex;
  padding: 0px -10px 0px 5px;
  width: 100%;
  justify-content: space-between;
  margin-left: 10px;
}

.deleteBtn {
  cursor: pointer;
}
