.aboutUsContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: 100%;
}

.aboutUsMain {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #181825;
  border-radius: 10px;
  border: 4px solid rgb(166, 227, 161);
  width: 400px;
  font-size: 25px;
  height: auto;
  cursor: pointer;
  z-index: 999;
  margin-top: 10px;
}
