/* This css is REALLY terrible, dont look here please */

.commentsContainer {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 20px 0px 0px 0px;
}

.userInfo {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.userInfo img {
  width: 60px;
  height: 60px;
  border-radius: 90000px;
}

.text {
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  width: 100%;
  height: auto;
  margin-left: 10px;
  margin-top: 20px;
}

.userPlusDelete {
  position: absolute;
  width: 83%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.user {
  margin-left: 10px;
}
