/* thx my gf for this styles ^^ */
.post {
  display: flex;
  flex-direction: column;
  background-color: #181825;
  border-radius: 10px;
  width: 900px;
  height: auto;
  z-index: 15;
  margin: 10px 10px 15px 10px;
  padding: 20px;
}

.post:first-child {
  margin-top: 100px;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image img {
  max-height: 600px;
  min-height: 0px;
  max-width: 900px;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}
.author img {
  width: 60px;
  border-radius: 10px;
  height: 60px;
}
.author a {
  color: #cdd6f4;
  font-size: 32px;
  text-decoration: none;
}

.actionsContainer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iHateMyselfContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.likes,
.comment {
  font-size: 30px;
  height: 100%;
  display: flex;
  align-items: center;
}

.likes img,
.comment img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.chromium {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.chromiumContainer {
  margin-left: auto;
  display: flex;
}

.commentContainer {
  flex-direction: column;
}
