.post {
  display: flex;
  flex-direction: column;
  background-color: #11111b;
  border-radius: 20px;
  width: 90vw;
  height: auto;
  z-index: 15;
  margin: 10px 10px 15px 10px;
  padding: 20px;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image img {
  max-height: 600px;
  max-width: 900px;
  border-radius: 15px;
}

.authorWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}
.author img {
  width: 60px;
  border-radius: 10px;
  height: 60px;
}
.author a {
  color: #ffffff;
  font-size: 32px;
  text-decoration: none;
}

.edit {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.editWrapper {
  box-sizing: border-box;
}
.editInputsWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.editInputsWrapper button {
  border-radius: 5px;
  margin-top: 10px;
  width: 100px;
  height: 23px;
}

.actionsContainer {
  width: 100%;
  height: 60px;
  display: flex;
}
.iHateMyselfContainer {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.likes,
.comment {
  font-size: 30px;
  height: 100%;
  display: flex;
  align-items: center;
}
.likes img,
.comment img {
  height: 35px;
  cursor: pointer;
}

.chromium {
  height: 35px;
  cursor: pointer;
  position: absolute;
  align-items: right;
  margin-top: 20px;
  margin-left: -40px;
}

.commentContainer {
  margin-top: 5px;
  flex-direction: column;
}
.commentContainer input {
  margin-bottom: 10px;
}

.contextMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contextMenu img {
  z-index: 99;
  cursor: pointer;
  width: 46px; /* Я дизайнерша и я так решила!!! */
}

.openMenu {
  font-size: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.closedMenu {
  width: 250px;
  margin-right: 120px;
  height: 40px;
  position: absolute;
  transition: margin-right 0.4s ease-in-out;
  background-color: #11111b;
}

.contextItem img {
  width: 30px;
  height: 30px;
}


