.post {
    display: flex;
    border: 5px solid black;
    width: 1200px;
    height: 400px;
    margin: 10px;
}

.info {
    align-self: center;
}

.image img {
    height: 400px;
    width: 400px;
}




