.fullProfile {
  position: absolute;
  width: 100%;
  height: 100%;
}

.upperProfileContainer {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.upperProfile {
  display: flex;
  z-index: 999;
  width: 950px;
  height: 100%;
  box-sizing: border-box;
}

.profile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  width: 100%;
  height: 100%;
}

.profileInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilePosts {
  z-index: 999;
}

.profileImg {
  border-radius: 9000px;
  width: 200px;
  height: 200px;
}

.links {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.desc {
  margin-left: 20px;
}

.desc textarea {
  resize: none;
  width: 400px;
  height: 60px;
  background: none;
  outline: NONE;
  border: none;
  color: #cdd6f4;
  font-size: 20px;
}
