.UserProfile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.createPost {
  z-index: 99999999;
}

.post {
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.postContainer {
}
