.headerContainer {
  top: 0;
  left: 0;
  background-color: #11111b;
  z-index: 99999;
  position: absolute;
  border-bottom: 4px solid;
  width: 100%;
  display: flex;
  height: 80px;
  font-size: 40px;
  background-color: #11111b;
  box-sizing: border-box;
  align-items: center;
  padding-left: 20px;
  white-space: nowrap;
}

.logo img {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 60px;
}

.leftistElements {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.rightistElements {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  font-size: 32px;
}
.rightistElements a {
  margin: 5px;
}
.rightistElements img {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  cursor: pointer;
}

.links {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 5px;
  margin-left: 20px;
  color: #ffffff;
  font-size: 32px;
  transition: 0.5s;
}
.links:nth-child(1):hover {
  color: #cdf4da;
  transition: 0.5s;
}
.links:nth-child(2):hover {
  color: #fabeff;
  transition: 0.5s;
}
.links:nth-child(3):hover {
  color: #f3f4ae;
  transition: 0.5s;
}

.ifNotLoggedIn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.ifNotLoggedInText {
  margin-right: 10px;
  color: #cdf4da;
  text-decoration: none;
}
